@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Lato:wght@300;400;700&family=Noto+Serif+Gujarati:wght@100&family=Roboto:wght@400;700&display=swap');
.App {
  font-family: Lato, sans-serif;
  max-width: 600px; // mobile app
  margin: auto;
  padding: 0 1em 0 1em;
}